html {
    height: 100%;
}
body {
    font-family:Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -75px;
    padding: 0 0 60px;
}

.border-bottom {
    border-bottom: 1px solid #e7eaec !important;
}

.tab_title .nav > li > a{
	color: #666;
	font-weight: 600;
	padding: 14px 20px 14px 25px;
}

.tab_title .nav li.current{
    border-bottom: 4px solid #1ab394;
}

.tab_title .nav>li>a:focus, .tab_title .nav>li>a:hover{
    text-decoration: none;
    background-color: #fff;
}