blockquote, body, button, dd, dl, dt, fieldset, h1, h2, h3, h4, h5, h6, hr, input, lengend, li, ol, p, pre, td, textarea, th, ul {
    margin:0;
    padding:0
}
em, i {
    font-style:normal
}
li, ol, ul {
    list-style:none
}
a, a:hover {
    text-decoration:none
}
a:hover {
    transition:all .5s ease 0s;
    color:#0b7df2
}
a:focus {
    outline:none;
    text-decoration:none;
    -moz-outline:none
}
img {
    border:none
}
button, input, select, textarea {
    font-size:100%
}
div, table {
    word-break:break-all;
    word-wrap:break-word
}
textarea {
    resize:none
}
body {
    background:#f8f8f8;
    font-family:Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif
}
a {
    transition:ALL .5s ease;
    -moz-transition:ALL .5s ease;
    -webkit-transition:ALL .5s ease;
    -o-transition:ALL .5s ease
}
.b-ta-center {
    text-align:center
}
.b-h-20 {
    width:100%;
    height:20px
}
.b-h-70 {
    width:100%;
    height:70px
}
#b-public-nav {
    padding-top:0;
    padding-bottom:0;
    background:#333;
    color:#fff;
    border:none;
    min-height:40px;
    overflow:hidden
}
#b-public-nav transition:background-position .5s
}
#b-public-nav .navbar-header:hover {
    background-position:100% 100%
}
#b-public-nav .navbar-header .navbar-brand {
    padding:0;
    height:40px;
    position:relative
}
#b-public-nav .navbar-header .navbar-brand .b-nav-background {
    width:100%;
    height:50px;
    position:absolute;
    left:0;
    top:-5px;
    transition:background-position .5s
}
#b-public-nav .navbar-header .navbar-brand .b-nav-background:hover {
    background-position:100% 100%
}
#b-public-nav .navbar-header .navbar-brand .b-logo-code, #b-public-nav .navbar-header .navbar-brand .b-logo-end, #b-public-nav .navbar-header .navbar-brand .b-logo-word {
    height:40px;
    float:left
}
#b-public-nav .navbar-header .navbar-brand .b-logo-code {
    padding-top:4px
}
#b-public-nav .navbar-header .navbar-brand .b-lc-start {
    height:15px;
    color:#fff;
    font-size:14px;
    line-height:10px
}
#b-public-nav .navbar-header .navbar-brand .b-lc-echo {
    height:15px;
    color:#66d9ef;
    font-size:14px;
    text-indent:15px
}
#b-public-nav .navbar-header .navbar-brand .b-logo-word {
    line-height:40px;
    color:#fdd257
}
#b-public-nav .navbar-header .navbar-brand .b-logo-end {
    color:#fff;
    font-size:20px;
    line-height:35px
}
#b-public-nav .navbar-header .b-logo-a {
    display:block;
    width:100%;
    height:40px
}
#b-public-nav .b-nav-parent {
    position:relative
}
#b-public-nav .b-nav-parent .b-nav-mobile {
    height:50px;
    background:#008cba;
    position:absolute;
    top:-5px
}
#b-public-nav .b-nav-parent .b-nav-active a {
    color:#fff
}
#b-public-nav .b-nav-cname {
    height:40px;
    position:relative
}
#b-public-nav .b-nav-cname a {
    padding:10px
}
#b-public-nav .b-nav-login {
    height:40px;
    position:relative
}
#b-public-nav .b-nav-login .b-login-mobile {
    width:50px;
    height:50px;
    position:absolute;
    left:0;
    top:-5px;
    transition:ALL .5s ease;
    -moz-transition:ALL .5s ease;
    -webkit-transition:ALL .5s ease;
    -o-transition:ALL .5s ease
}
#b-public-nav .b-nav-login:hover .b-login-mobile {
    background:#008cba
}
#b-public-nav .b-user-info .b-head_img {
    margin:5px;
    width:30px;
    height:30px
}
#b-public-right .b-comment-list, #b-public-right .b-link, #b-public-right .b-qun, #b-public-right .b-recommend, #b-public-right .b-search, #b-public-right .b-tags {
    margin-bottom:20px;
    padding:10px 20px;
    background:#fff;
    box-shadow:0 1px 2px 0 #e2e2e2;
    overflow:hidden
}
#b-public-right .b-comment-list .b-title, #b-public-right .b-link .b-title, #b-public-right .b-qun .b-title, #b-public-right .b-recommend .b-title, #b-public-right .b-search .b-title, #b-public-right .b-tags .b-title {
    height:30px
}
#b-public-right .b-qun .b-qun-or-code {
    width:150px;
    height:150px;
    float:left
}
#b-public-right .b-qun .b-qun-or-code img {
    width:150px;
    height:150px
}
#b-public-right .b-qun .b-qun-word {
    width:170px;
    height:150px;
    float:left;
    overflow:hidden
}
#b-public-right .b-qun .b-qun-word p {
    width:170px;
    height:35px;
    line-height:35px
}
#b-public-right .b-tags .b-all-tname {
    overflow:hidden
}
#b-public-right .b-tags .b-all-tname .b-tname {
    margin-top:5px;
    margin-right:5px;
    float:left
}
#b-public-right .b-tags .b-all-tname .b-tname a {
    display:block;
    padding:0 10px;
    height:20px;
    line-height:20px;
    border-radius:10px;
    font-family:SimSun;
    color:#fff
}
#b-public-right .b-tags .b-all-tname .b-tname a:hover {
    border-radius:0
}
#b-public-right .b-tags .b-all-tname .b-tname .link-a {
    margin-right:5px
}
#b-public-right .b-tags .b-all-tname .b-tname .tstyle-1 {
    background:#43ac6a
}
#b-public-right .b-tags .b-all-tname .b-tname .tstyle-1:hover {
    text-decoration:none;
    background:#028231
}
#b-public-right .b-tags .b-all-tname .b-tname .tstyle-2 {
    background:#f3a557
}
#b-public-right .b-tags .b-all-tname .b-tname .tstyle-2:hover {
    text-decoration:none;
    background:#e97705
}
#b-public-right .b-tags .b-all-tname .b-tname .tstyle-3 {
    background:#f25e45
}
#b-public-right .b-tags .b-all-tname .b-tname .tstyle-3:hover {
    text-decoration:none;
    background:#d82508
}
#b-public-right .b-tags .b-all-tname .b-tname .tstyle-4 {
    background:#34afd8
}
#b-public-right .b-tags .b-all-tname .b-tname .tstyle-4:hover {
    text-decoration:none;
    background:#0583ac
}
#b-public-right .b-recommend .b-recommend-p .b-recommend-a {
    margin:5px 0;
    padding-left:18px;
    display:block;
    position:relative;
    word-break:break-word;
    word-wrap:break-word
}
#b-public-right .b-recommend .b-recommend-p .b-recommend-a .fa {
    position:absolute;
    left:0;
    top:5px
}
#b-public-right .b-link-a {
    margin-right:10px;
    display:block
}
#b-public-right .b-search {
    padding:20px;
    overflow:hidden
}
#b-public-right .b-search .b-search-text {
    margin-right:0;
    padding:0 5px;
    width:78%;
    height:35px;
    line-height:35px;
    border:1px solid #ccc;
    float:left
}
#b-public-right .b-search .b-search-submit {
    margin-left:0;
    width:22%;
    height:35px;
    background:#008cba;
    color:#fff;
    border:none;
    float:left;
    transition:background-position .5s
}
#b-public-right .b-search .b-search-submit:hover {
    background-position:100% 100%
}
#b-public-right .b-comment-list .b-new-comment {
    padding:3px 0 3px 40px;
    width:100%;
    position:relative;
    border-top:1px solid #dcdcdc
}
#b-public-right .b-comment-list .b-new-comment .b-head-img {
    width:32px;
    height:32px;
    position:absolute;
    left:0;
    top:5px
}
#b-public-right .b-comment-list .b-new-comment .b-nickname {
    font-size:13px;
    overflow:hidden;
    color:#555
}
#b-public-right .b-comment-list .b-new-comment .b-nickname span {
    color:#999;
    float:right
}
#b-public-right .b-comment-list .b-new-comment .b-nc-article {
    font-size:13px;
    color:#999;
    word-break:break-word;
    word-wrap:break-word
}
#b-public-right .b-comment-list .b-new-comment .b-nc-article a {
    color:#555
}
#b-public-right .b-comment-list .b-new-comment .b-nc-article a:hover {
    color:#0b7df2
}
#b-public-right .b-comment-list .b-new-comment .b-content {
    color:#999;
    font-size:12px;
    word-break:break-word;
    word-wrap:break-word
}
#b-public-right .b-comment-list .b-new-comment .b-content img {
    width:20px;
    height:20px
}
#b-public-right .b-comment-list .b-new-commit-first {
    border:none
}
#b-content {
    position:relative
}
#b-content .b-breadcrumb {
    padding:0
}
#b-content .b-breadcrumb .breadcrumb {
    background-color:#fff
}
#b-content .b-tag-title {
    margin-bottom:10px;
    background:#fff;
    box-shadow:0 1px 2px 0 #e2e2e2
}
#b-content .b-tag-title h2 {
    padding-top:20px;
    padding-bottom:20px;
    overflow-y:hidden
}
#b-content .b-tag-title .b-highlight {
    margin:0 5px;
    color:red
}
#b-content .b-one-article {
    margin-bottom:15px;
    padding-top:20px;
    padding-bottom:20px;
    background:#fff;
    box-shadow:0 1px 2px 0 #e2e2e2;
    position:relative
}
#b-content .b-one-article .b-oa-title {
    position:relative;
    border-bottom:none
}
#b-content .b-one-article .b-oa-title:before {
    content:"";
    position:absolute;
    width:100%;
    height:2px;
    bottom:0;
    left:0;
    background-color:#0b7df2;
    visibility:hidden;
    transform:scaleX(0)
}
#b-content .b-one-article .b-oa-title:hover:before {
    visibility:visible;
    transform:scaleX(1)
}
#b-content .b-one-article .b-oa-title:before {
    transition-duration:.2s;
    transition-timing-function:ease-in-out;
    transition-delay:0s
}
#b-content .b-one-article .b-date {
    padding-top:10px;
    padding-bottom:10px
}
#b-content .b-one-article .b-date .b-tag-name {
    margin-right:5px
}
#b-content .b-one-article .b-oa-thumbnail {
    position:relative
}
#b-content .b-one-article .b-oa-thumbnail .b-oa-pic {
    padding:3px;
    width:100%;
    height:auto;
    border:1px solid #ccc;
    overflow:hidden
}
#b-content .b-one-article .b-oa-thumbnail .b-oa-pic img {
    width:220px;
    height:150px
}
#b-content .b-one-article .b-oa-thumbnail .b-top-icon {
    position:absolute;
    left:15px;
    top:0;
    width:50px;
    height:50px
}
#b-content .b-one-article .b-des-read {
    word-break:break-word;
    word-wrap:break-word
}
#b-content .b-one-article .b-style1 img {
    transition:opacity .35s, transform .35s;
    transform:scale(1)
}
#b-content .b-one-article .b-style1:hover img {
    opacity:.7;
    transform:scale(1.1)
}
#b-content .b-one-article .b-readall {
    padding:0 10px;
    position:absolute;
    right:15px;
    bottom:20px;
    color:#fff;
    border-radius:10px;
    background:#34afd8
}
#b-content .b-one-article .b-readall:hover {
    text-decoration:none;
    background:#0583ac
}
#b-content .b-article {
    background:#fff;
    font-size:16px;
    box-shadow:0 1px 2px 0 #e2e2e2;
    position:relative
}
#b-content .b-article strong {
    font-weight:700
}
#b-content .b-article h1 {
    font-size:2em;
    margin:.67em 0
}
#b-content .b-article hr {
    box-sizing:content-box
}
#b-content .b-article table {
    border-collapse:collapse;
    border-spacing:0
}
#b-content .b-article td, #b-content .b-article th {
    padding:0
}
#b-content .b-article hr {
    height:0;
    margin:15px 0;
    overflow:hidden;
    background:transparent;
    border:0;
    border-bottom:1px solid #ddd
}
#b-content .b-article hr:before {
    display:table;
    content:""
}
#b-content .b-article hr:after {
    display:table;
    clear:both;
    content:""
}
#b-content .b-article h1, #b-content .b-article h2, #b-content .b-article h3, #b-content .b-article h4, #b-content .b-article h5, #b-content .b-article h6 {
    margin-top:15px;
    margin-bottom:15px;
    line-height:1.1
}
#b-content .b-article h1 {
    font-size:30px
}
#b-content .b-article h2 {
    font-size:21px
}
#b-content .b-article h3 {
    font-size:16px
}
#b-content .b-article h4 {
    font-size:14px
}
#b-content .b-article h5 {
    font-size:12px
}
#b-content .b-article h6 {
    font-size:11px
}
#b-content .b-article blockquote {
    margin:0
}
#b-content .b-article ol, #b-content .b-article ul {
    padding:0;
    margin-top:0;
    margin-bottom:0
}
#b-content .b-article ol ol, #b-content .b-article ul ol {
    list-style-type:lower-roman
}
#b-content .b-article ol ol ol, #b-content .b-article ol ul ol, #b-content .b-article ul ol ol, #b-content .b-article ul ul ol {
    list-style-type:lower-alpha
}
#b-content .b-article dd {
    margin-left:0
}
#b-content .b-article h1, #b-content .b-article h2, #b-content .b-article h3, #b-content .b-article h4, #b-content .b-article h5, #b-content .b-article h6 {
    position:relative;
    margin-top:1em;
    margin-bottom:16px;
    font-weight:700;
    line-height:1.4
}
#b-content .b-article h1 {
    padding-bottom:.3em;
    font-size:2.25em;
    line-height:1.2;
    border-bottom:1px solid #eee
}
#b-content .b-article h2 {
    padding-bottom:.3em;
    font-size:1.75em;
    line-height:1.225;
    border-bottom:1px solid #eee
}
#b-content .b-article h3 {
    font-size:1.5em;
    line-height:1.43
}
#b-content .b-article h4 {
    font-size:1.25em
}
#b-content .b-article h5 {
    font-size:1em
}
#b-content .b-article h6 {
    font-size:1em;
    color:#777
}
#b-content .b-article blockquote, #b-content .b-article dl, #b-content .b-article ol, #b-content .b-article p, #b-content .b-article pre, #b-content .b-article table, #b-content .b-article ul {
    margin-top:0;
    margin-bottom:16px
}
#b-content .b-article ol, #b-content .b-article ul {
    padding-left:1em
}
#b-content .b-article ol ol, #b-content .b-article ol ul, #b-content .b-article ul ol, #b-content .b-article ul ul {
    margin-top:0;
    margin-bottom:0
}
#b-content .b-article li>p {
    margin-top:16px
}
#b-content .b-article dl {
    padding:0
}
#b-content .b-article dl dt {
    padding:0;
    margin-top:16px;
    font-size:1em;
    font-style:italic;
    font-weight:700
}
#b-content .b-article dl dd {
    padding:0 16px;
    margin-bottom:16px
}
#b-content .b-article blockquote {
    padding:0 15px;
    color:#777;
    border-left:4px solid #ddd
}
#b-content .b-article blockquote>:first-child {
    margin-top:0
}
#b-content .b-article blockquote>:last-child {
    margin-bottom:0
}
#b-content .b-article table {
    display:block;
    width:100%;
    overflow:auto;
    word-break:normal;
    word-break:keep-all
}
#b-content .b-article table th {
    font-weight:700
}
#b-content .b-article table td, #b-content .b-article table th {
    padding:6px 13px;
    border:1px solid #ddd
}
#b-content .b-article table tr {
    background-color:#fff;
    border-top:1px solid #ccc
}
#b-content .b-article table tr:nth-child(2n) {
    background-color:#f8f8f8
}
#b-content .b-article .b-edit-icon {
    position:absolute;
    z-index:1;
    right:5px;
    top:5px
}
#b-content .b-article .b-title {
    padding-top:20px;
    padding-bottom:20px;
    text-align:center;
    word-break:break-word;
    word-wrap:break-word
}
#b-content .b-article .b-metadata {
    margin-bottom:10px;
    padding-bottom:5px;
    border-bottom:1px dotted #999;
    font-size:14px
}
#b-content .b-article .b-metadata .b-tag-name {
    margin-right:5px
}
#b-content .b-article .b-content-word {
    line-height:28px
}
#b-content .b-article .b-content-word img {
    max-width:100%;
    height:auto
}
#b-content .b-article .b-content-word .b-copyright {
    width:100%;
    line-height:30px;
    color:#ee542a
}
#b-content .b-article .b-content-word .b-share-plugin {
    position:relative;
    margin:10px 0;
    width:100%;
    height:60px;
    line-height:60px;
    z-index:999
}
#b-content .b-article .b-content-word .b-prev-next {
    width:100%;
    height:60px;
    font-size:14px
}
#b-content .b-article .b-content-word .b-prev-next .b-next, #b-content .b-article .b-content-word .b-prev-next .b-prev {
    width:100%;
    height:30px;
    line-height:30px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
#b-content .b-article .b-content-word .b-prev-next .b-next span, #b-content .b-article .b-content-word .b-prev-next .b-prev span {
    color:#ccc
}
#b-content .b-article .b-content-word .js-content {
    word-break:break-word;
    word-wrap:break-word
}
#b-content .b-article .b-content-word .js-content ul li {
    list-style:disc;
    margin:0 15px
}
#b-content .b-article .b-content-word .js-content p {
    margin-bottom:20px
}
#b-content .b-article .b-content-word .js-content ol {
    padding-left:15px
}
#b-content .b-article .b-content-word .js-content ol li {
    list-style:decimal;
    margin:0 3px
}
#b-content .b-article .b-content-word .js-content ol li p {
    margin:0
}
#b-content .b-article .b-content-word .js-content table {
    width:100%;
    max-width:100%;
    margin-bottom:20px;
    background-color:transparent;
    border-collapse:collapse;
    border-spacing:0
}
#b-content .b-article .b-content-word .js-content table tbody tr:nth-of-type(odd), #b-content .b-article .b-content-word .js-content table tr:hover {
    background-color:#f9f9f9
}
#b-content .b-article .b-content-word .js-content table td, #b-content .b-article .b-content-word .js-content table th {
    padding:0 5px;
    border:1px solid #ddd
}
#b-content .b-article .b-content-word .js-content .emoji {
    width:24px;
    height:24px
}
#b-content .b-like {
    margin-top:10px;
    padding:10px;
    background:#fff;
    font-size:16px;
    box-shadow:0 1px 2px 0 #e2e2e2;
    position:relative
}
#b-content .b-like .b-thumbs-up {
    height:40px;
    line-height:40px;
    text-align:center
}
#b-content .b-like .b-thumbs-up i {
    cursor:pointer;
    font-size:30px
}
#b-content .b-like .b-liked {
    color:#0b94c1
}
#b-content .b-like .b-head-img {
    margin-top:5px;
    margin-right:9px;
    width:35px;
    height:35px;
    border-radius:50%;
    overflow:hidden;
    float:left
}
#b-content .b-like .b-head-img img {
    width:35px;
    height:35px
}
#b-content .b-comment {
    margin-top:10px;
    padding-bottom:210px;
    background:#fff;
    box-shadow:0 1px 2px 0 #e2e2e2;
    position:relative;
    z-index:1
}
#b-content .b-comment .b-comment-box {
    margin-top:30px;
    padding-left:70px;
    width:100%;
    height:130px;
    position:relative;
    z-index:1
}
#b-content .b-comment .b-comment-box .b-head-img {
    width:45px;
    height:45px;
    position:absolute;
    left:15px;
    top:5px
}
#b-content .b-comment .b-box-textarea {
    margin:5px 0;
    width:100%;
    height:120px;
    border:2px solid #ccd4d9;
    border-radius:4px;
    position:relative;
    z-index:1
}
#b-content .b-comment .b-box-textarea .b-box-content {
    padding:5px;
    width:100%;
    height:75px;
    border:none;
    border-bottom:1px solid #e6eaed;
    color:#999;
    overflow-y:auto
}
#b-content .b-comment .b-emote-submit {
    width:100%;
    height:40px;
    position:relative
}
#b-content .b-comment .b-emote-submit .b-emote {
    width:100%;
    height:40px;
    position:absolute;
    left:0;
    top:0
}
#b-content .b-comment .b-emote-submit .b-emote i {
    padding:5px;
    width:40px;
    height:40px;
    font-size:30px;
    color:#c0c8ce;
    cursor:pointer;
    float:left
}
#b-content .b-comment .b-emote-submit .b-emote i:hover {
    color:#337ab7
}
#b-content .b-comment .b-emote-submit .b-emote .b-email {
    margin-top:4px;
    width:160px;
    float:left
}
#b-content .b-comment .b-emote-submit .b-emote .b-tuzki {
    width:80%;
    border-top:none;
    background:#fff;
    display:none;
    position:absolute;
    left:-2px;
    top:43px
}
#b-content .b-comment .b-emote-submit .b-emote .b-tuzki img {
    width:52px;
    height:52px;
    border:1px solid #e6eaed;
    border-top:none;
    cursor:pointer
}
#b-content .b-comment .b-emote-submit .b-emote .b-tuzki img:hover {
    border:2px solid #008cba
}
#b-content .b-comment .b-emote-submit .b-submit-button {
    width:90px;
    height:40px;
    position:absolute;
    right:2px;
    top:0
}
#b-content .b-comment .b-emote-submit .b-submit-button input {
    width:92px;
    height:44px;
    line-height:40px;
    text-align:center;
    color:#fff;
    font-size:16px;
    background:#5788aa;
    border:none;
    border-bottom-right-radius:4px;
    position:absolute;
    right:-4px;
    bottom:-2px;
    transition:background-position .5s
}
#b-content .b-comment .b-emote-submit .b-submit-button input:hover {
    background-position:100% 100%
}
#b-content .b-comment .b-comment-title {
    margin-top:30px;
    width:100%;
    height:40px;
    line-height:40px;
    border-bottom:2px solid #88abc3;
    color:#333;
    font-size:14px
}
#b-content .b-comment .b-comment-title .b-new {
    height:40px;
    float:left
}
#b-content .b-comment .b-comment-title .b-total {
    height:40px;
    text-align:right
}
#b-content .b-comment .b-comment-title .b-total span {
    color:#ee542a
}
#b-content .b-comment .b-user-comment .b-user {
    padding-top:10px;
    height:100%
}
#b-content .b-comment .b-user-comment .b-user .b-pic-col {
    position:relative
}
#b-content .b-comment .b-user-comment .b-user .b-pic-col .b-user-pic {
    width:45px;
    height:45px
}
#b-content .b-comment .b-user-comment .b-user .b-pic-col .b-crown {
    position:absolute;
    left:2px;
    top:-12px;
    width:25px;
    height:25px;
    transform:rotate(-50deg)
}
#b-content .b-comment .b-user-comment .b-user .b-content-col .b-content {
    overflow:hidden;
    word-break:break-word;
    word-wrap:break-word
}
#b-content .b-comment .b-user-comment .b-user .b-content-col .b-content .b-reply-name, #b-content .b-comment .b-user-comment .b-user .b-content-col .b-content .user-name {
    color:#ee542a
}
#b-content .b-comment .b-user-comment .b-user .b-content-col .b-content .b-reply {
    font-weight:600
}
#b-content .b-comment .b-user-comment .b-user .b-content-col .b-date {
    height:30px;
    line-height:30px
}
#b-content .b-comment .b-user-comment .b-child {
    border:none
}
#b-content .b-comment .b-user-comment .b-child .b-box-textarea .b-box-content {
    overflow-y:auto
}
#b-content .b-comment .b-user-comment .b-child .b-box-textarea .b-emote-submit .b-emote {
    padding-right:0
}
#b-content .b-comment .b-border {
    border-bottom:1px solid #e6eaed
}
#b-content .b-chat {
    padding:25px 15px;
    background:#fff;
    box-shadow:0 1px 2px 0 #e2e2e2;
    overflow:hidden
}
#b-content .b-chat .b-chat-one {
    margin-bottom:50px;
    padding:5px 10px;
    border:1px solid #e2e2e2;
    border-radius:6px;
    position:relative
}
#b-content .b-chat .b-chat-one .b-chat-title {
    width:100%;
    height:30px;
    line-height:30px;
    color:#ccc
}
#b-content .b-chat .b-chat-one .b-chat-content {
    width:100%;
    line-height:21px;
    text-align:right;
    word-break:break-word;
    word-wrap:break-word
}
#b-content .b-chat .b-chat-left {
    width:49%;
    float:left
}
#b-content .b-chat .b-chat-left .b-chat-one {
    margin-right:10px
}
#b-content .b-chat .b-chat-left .b-chat-one .b-chat-content, #b-content .b-chat .b-chat-left .b-chat-one .b-chat-title {
    text-align:left
}
#b-content .b-chat .b-chat-left .b-chat-one .b-arrows-right1 {
    width:0;
    height:0;
    border:10px solid transparent;
    border-left-color:#e2e2e2;
    position:absolute;
    right:-20px
}
#b-content .b-chat .b-chat-left .b-chat-one .b-arrows-right1 .b-arrows-round {
    width:10px;
    height:10px;
    background:#f08a24;
    border-radius:50%;
    position:absolute;
    left:0;
    top:-4px
}
#b-content .b-chat .b-chat-left .b-chat-one .b-arrows-right2 {
    width:0;
    height:0;
    border:10px solid transparent;
    border-left-color:#fff;
    position:absolute;
    right:-19px
}
#b-content .b-chat .b-chat-middle {
    width:1%;
    background:#008cba;
    border-radius:4px;
    float:left
}
#b-content .b-chat .b-chat-right {
    padding-top:70px;
    width:49%;
    float:left
}
#b-content .b-chat .b-chat-right .b-chat-one {
    margin-left:10px
}
#b-content .b-chat .b-chat-right .b-chat-one .b-chat-title {
    text-align:right
}
#b-content .b-chat .b-chat-right .b-chat-one .b-chat-content {
    text-align:left
}
#b-content .b-chat .b-chat-right .b-chat-one .b-arrows-right1 {
    width:0;
    height:0;
    border:10px solid transparent;
    border-right-color:#e2e2e2;
    position:absolute;
    left:-20px
}
#b-content .b-chat .b-chat-right .b-chat-one .b-arrows-right1 .b-arrows-round {
    width:10px;
    height:10px;
    background:#f08a24;
    border-radius:50%;
    position:absolute;
    left:-10px;
    top:-6px
}
#b-content .b-chat .b-chat-right .b-chat-one .b-arrows-right2 {
    width:0;
    height:0;
    border:10px solid transparent;
    border-right-color:#fff;
    position:absolute;
    left:-19px
}
#b-content-site .b-site {
    padding:0 10px 10px 0;
    position:relative
}
#b-content-site .b-site .b-s-inside {
    padding:10px;
    background:#fff;
    box-shadow:0 1px 2px 0 #e2e2e2;
    text-align:center
}
#b-content-site .b-site .b-s-inside .b-si-name {
    height:20px;
    line-height:20px;
    overflow:hidden;
    font-weight:600;
    color:#666
}
#b-content-site .b-site .b-s-inside .b-si-url {
    height:40px;
    line-height:40px;
    overflow:hidden;
    color:#666
}
#b-content-site .b-site .b-s-inside .b-si-description {
    height:40px;
    line-height:20px;
    overflow:hidden;
    color:#999
}
#b-content-site .b-site .b-s-inside .b-s-plus {
    margin:0 auto;
    width:100px;
    height:100px
}
#b-content-site .b-s-url {
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0
}
#b-modal-site .b-submit-site {
    padding-top:20px
}
#b-modal-site .b-hint {
    font-size:14px;
    color:#999
}
#b-modal-login .b-login-row {
    padding-top:10px;
    padding-bottom:10px;
    text-align:center
}
#b-modal-login .b-login-row .fa {
    margin:0 20px;
    font-size:50px;
    cursor:pointer;
    color:#333
}
#b-modal-login .b-login-row .fa:hover {
    color:#337ab7
}
#b-modal-login .close {
    transition:all .2s linear 0s
}
#b-modal-login .close:hover {
    transform:rotate(1turn)
}
#b-foot {
    margin-top:10px;
    padding:40px 0;
    position:relative;
    z-index:2;
    background:#333;
    color:#9d9d9d
}
#b-foot dl {
    padding:10px 20px;
    float:left
}
#b-foot dl dt {
    font-size:16px
}
#b-foot dl dd {
    height:25px;
    line-height:25px
}
#b-foot dl dd a {
    color:#9d9d9d
}
#b-foot dl dd a:hover {
    color:#0b7df2
}
#b-foot .b-social dd {
    margin-top:5px;
    height:100%;
    text-align:center
}
#b-foot .b-social dd img {
    margin:5px;
    height:50px
}
#b-foot .go-top {
    width:30px;
    height:30px;
    line-height:25px;
    text-align:center;
    border-radius:50%;
    background:#0b94c1;
    font-size:20px;
    color:#fff;
    position:fixed;
    right:5px;
    bottom:50px;
    display:none
}
#b-foot .go-top:hover {
    background:#027ca5
}
#close {
    width:100%
}
#close .content {
    margin:0 auto;
    width:1024px;
    height:400px;
    position:relative
}
#close .content .font {
    width:1024px;
    height:50px;
    position:absolute;
    top:300px;
    left:0;
    text-align:center;
    color:red;
    font-size:50px;
    line-height:50px
}
@media (min-width:992px) {
    #b-public-nav {
        padding-top:5px;
        padding-bottom:5px
    }
    #b-public-nav .navbar-header {
        background-image:none
    }
    #b-foot .go-top {
        width:70px;
        height:70px;
        line-height:65px;
        font-size:60px;
        right:104px;
        bottom:200px
    }
    #b-content .b-comment .b-emote-submit .b-emote .b-email {
        width:200px
    }
}
.pace {
    -webkit-pointer-events:none;
    pointer-events:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    position:fixed;
    top:0;
    left:0;
    z-index:999999999999;
    width:100%;
    transform:translate3d(0, -50px, 0);
    transition:transform .5s ease-out
}
.pace.pace-active {
    transform:translateZ(0)
}
.pace .pace-progress {
    display:block;
    position:fixed;
    z-index:999999999999;
    top:0;
    right:100%;
    width:100%;
    height:3px;
    background:#0b94c1;
    pointer-events:none
}